*{
	box-sizing: border-box;
}
body{
	background-color: white;
}

h1{
	text-align: center;
}

#layout_1{
float: ;
}
#container_1{
	background-color: grey;
	width: 500px;
	border: solid black 2px;
	/*display: table-cell;*/
	float: left;
	margin-right: 5px;
}

#title_1{
	background-color: orange;
	margin-top: 0px;
	padding:5px;
	/*width: 60px;
	height: 20px;*/
	float: right;
	border-style: solid;
	border-color: black;
	border-width: 2px;
}

#content_1{
	clear: right;
	padding: 10px;
}

#title_2{
	background-color: orange;
	margin-top: 0px;
	padding:5px;
	/*width: 60px;
	height: 20px;*/
	float: right;
	border-style: solid;
	border-color: black;
	border-width: 2px;
}

#title_3{
	background-color: orange;
	margin-top: 0px;
	padding:5px;
	/*width: 60px;
	height: 20px;*/
	float: right;
	border-style: solid;
	border-color: black;
	border-width: 2px;
}