*{
	box-sizing: border-box;
}
body{
	background-color: white;
}

h1{
	text-align: center;
}

.layout_1{

	width:100%;
}

div{
	background-color: grey;
	width: 30%;
	border: solid black 2px;
	/*display: table-cell;*/
	float: left;
	margin-left: 2.25%;
}

.title_1{
	background-color: orange;
	margin-top: 0px;
	padding:5px;
	/*width: 60px;
	height: 20px;*/
	float: right;
	border-style: solid;
	border-color: black;
	border-width: 2px;
}

.content_1{
	clear: right;
	padding: 10px;
}

/* for large devices*/

@media(min-width: 992px){

	.lg-3{
		width: 30%;
		float: left;
	}
}

@media(min-width: 768px) and (max-width: 991px){

	.md-6{
		width: 47%;
		float: left;
	}
	.md-12{
		width: 96.25%;
		float: left;
		margin-top: 2.25%;
	}
}

@media(max-width: 767px){

	.sm-12{
		width: 96.25%;
		float: left;
		margin-top: 2.25%;
	}
}